@page
@model Razor_PollsVoting.Pages.IndexModel

@using Razor_PollsVoting.Data.Models

<h4><a id="lnkAdmin" asp-page="/Admin">Admin area</a></h4>

<h2>Poll Results:</h2>
@if (Model.Polls.Count == 0)
{
    <h3>No recent polls have been added</h3>
    <p>Please add a poll via the Admin area</p>
}
else
{
    @foreach (Poll poll in Model.Polls)
    {
        <div class="questionBox">
            @if (poll.BeenAnswered)
            {
                <div>
                    <div>
                        <h3 class="question">@poll.PollQuestion</h3>
                        <div class="expiration"><i> Expiration Date: @poll.ExpirationDate</i></div>
                        <br />
                        @foreach (var choice in poll.Choices)
                        {
                            @if (choice.UserPicked)
                            {
                                Model.UserPickedClass = "userpicked";
                            }
                            else
                            {
                                Model.UserPickedClass = "";
                            }
                            <span class="@Model.UserPickedClass">
                                @choice.ChoiceText : @choice.Percentage % (@choice.Count)
                                <br />
                            </span>
                        }
                    </div>
                    <p class="responded">You responded on <i>@poll.DateEntered</i> by selecting the highlighted option.</p>
                </div>
            }
            else
            {
                <div>
                    <form method="post">
                        <h3 class="question">@poll.PollQuestion</h3>
                        <div class="expiration"><i> Expiration Date: @poll.ExpirationDate</i></div>
                        <p><u>Choices:</u></p>
                        @foreach (Choice item_choice in poll.Choices)
                        {
                            <span>
                                <input type="radio" asp-for="choiceSelected" value="@item_choice.ChoiceId" id="rad_@(item_choice.ChoiceText.Replace(" ","_"))" />
                                <label>@item_choice.ChoiceText</label>
                                <br />
                            </span>
                        }
                        <div>
                            <input type="submit" asp-route-pollID="@poll.PollId" value="Submit Vote" style="margin-top:5px;" />
                        </div>
                    </form>
                </div>
            }
        </div>
    }
}